.grid{
	display:flex;
	flex-direction:row;
}

section{
	flex:none;
	border-right:1px solid;
	font-family: 'Song Myung', serif;
	padding:8px;
	
}

section h3{
	padding-left:16px;
	text-align:left;
}

li{
	text-align:left;
	padding-top:2px;
}

.title{
	font-size:12px;
	font-weight: normal;
}

.subtitle{
	font-size:10px;
	font-family: 'Nanum Myeongjo', sans-serif;
}

article h2{
	text-align: left;
	font-weight: bold;
	font-size: xx-large;
	font-family: MapoFlowerIsland;
	
}

article p{
	text-align: left;
	font-size: x-large;
	font-family: MapoFlowerIsland;
}