.grid{
	display:grid;
	grid-template-columns: 256px 1fr;
}

section{
	border-right:1px solid;
	font-family: 'Song Myung', serif;
	
}

section h3{
	padding-left:16px;
	text-align:left;
}

section li{
	list-style-type:none;
	text-align:left;
	padding-top:2px;
}

.title{
	font-size:12px;
	font-weight: normal;
}

.subtitle{
	font-size:10px;
	font-family: 'Nanum Myeongjo', sans-serif;
}

article{
	padding: 32px;
	height: 512px;
	overflow:scroll;

}

article h2{
	text-align:left;
	font-family: 'Song Myung', serif;
	font-weight: normal;
}

p{
	text-align:left;
	font-family: 'Nanum Myeongjo', sans-serif;
}