article{
	text-align: left;
}

article h2{
	font-weight: bold;
	font-size: xx-large;
	font-family: MapoFlowerIsland;
	
}

article p{
	font-size: x-large;
	line-height: 1;
	font-family: MapoFlowerIsland;
}

.company a{
	font-size: x-large;
	font-family: MapoFlowerIsland;
}

img{
	width:12%
	
}

.work{
	display:flex;

}