
body{
    text-align:center;
	align-content:center;
	margin:0;
}

header{
	background-color: #F8E7D0;
	padding: 12px;
}

nav {
  overflow: hidden;
  background-color: #584F49;
  margin-bottom:96px;
}

nav a{
	float: right;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a:hover{
	background-color: #F8E7D0;
	color: #584F49;
}

footer{
	background-color: #F8E7D0;
	overflow:hidden;
	padding:2px;
	margin-top:96px;
}

h1{
    font-size:xx-large;
    font-weight:normal;
    font-family: Gill Sans, sans-serif;
}

h3{
	font-size:x-large;
	font-weight:normal;
	font-family: Gill Sans, sans-serif;
}

article{
    margin: 1em;
}

h4, h5, p{
    font-family: Courier New, monospace;
}

.vertical_menu{
    display:inline;
}

.side_menu{
    width: 20%;
    border-right: solid;
    border-right-color: lightgray;
}

#container{
	display: flex;
	align-items: center;
}

#container div{
	flex:1;
}