body{
    text-align:center;
	align-content:center;
	margin-left:16px;
	margin-right:16px;
}

header{
	position:sticky;
	top:0;
	background-color:white;
}

nav{
	display:block;
	padding-right:32px;
	padding-left:32px;
	padding-bottom:8px;
	padding-top:8px;
	border-bottom: 2px double;
	font-family: 'Song Myung', serif;
}

nav h1{
	display:inline;
	text-align:left;
}

nav a{
	text-align:right;
	font-size:16px;
	font-weight: normal;
}

a{
	color:black;
	text-decoration: none;
}

a:hover{
	color:gray;
}

article, .intro{
	border: 2px solid gray;
	padding: 64px;
	margin: 128px;
	font-family: 'Nanum Myeongjo', sans-serif;
	font-size: 16px;
}

footer p{
	font-size:10px;
	text-align:center;
	color: dark-gray;
}
